*{
    margin: 0; padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(250, 144, 104);
}
table{
    /* border-collapse: collapse; */
    margin: auto;
    margin-top: 50px;
    font-size: 30px;
    box-sizing: border-box;
    
}

td{
    width: 200px; height: 200px;
    text-align: center;
    border-radius: 20px;
    background-color: #fff;
    margin: 5px;
    display: inline-block;
    line-height: 200px;
}

td:hover{
    background-color: aquamarine;
}

div{
    text-align: center;
    margin-top: 15px;
    font-size: 30px;
}

button{
    border: none;
    background-color: inherit;
    width: 80px; height: 50px;
    position: absolute;
    bottom: 55px; left: 50%;
    margin-left: -40px;
    font-size: 25px;
    border-radius: 8px;
    margin-top: 20px;
    color: #fff;
}
h1{
    text-align: center;
    padding-top: 30px;
}
button:hover{
    background-color: rgb(66, 63, 63);
}